* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root{
    --lightgreen: #B9FF66;
    --darkcolor: #191A23;
    --lightcolor: #F3F3F3;
}

/* Navbar */


.container-fluid {
    width: 90% !important;
}

.navbar-collapse {
    flex-basis: 0;
    flex-grow: 0 !important;
    justify-content: end;

}

.navbar-nav {
    gap: 20px;
}


/* Mainpage */

.mainpage {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 60px;
    height: 600px;
    align-items: center;
    flex-wrap: wrap;

}

.main {
    height: 515px;
    width: 531px;
}

.mainleft {
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainleft h1 {
    font-size: 63px;
    margin-bottom: 0px;
}

.mainleft p {
    font-size: 24px;



}
.phonepic{
    display: none;
}
.pc-pic{
    display: block;
}

.bookbtn {
    width: 264px;
    height: 68px;
    border-radius: 14px !important;
    padding: 20px, 35px, 20px, 35px !important;
    gap: 10px;
    background-color: var(--darkcolor) !important;

}

.bookbtn:hover {
    background-color: black !important;
}

.mainright img {
    width: 100%;
    height: 100%;
}



/* Adsbox */



.adsbox {
   
    margin: 80px 0px;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.adsbox img {
    height: 38px;

}




/* Main 2 */


.main2 {
    display: flex;
    flex-direction: column;
    gap: 90px;
}



.services {
    display: flex;
    padding-left: 65px;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}



.servicebtn {
    background-color: var(--lightgreen) !important;
    border: none;
    padding: 0px 30px;
    height: 51px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;

}

.services p {
    width: 530px;
    margin-bottom: 0px;
    padding: 0px 10px;
}

.seo {
    justify-content: center;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

.seobox {
    height: 310px;
    width: 600px;
    border-radius: 65px;
    padding: 50px;
    display: flex;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.left-seo {
    background-color: var(--lightcolor);
    gap: 10px;
}

.right-seo {
    background-color: var(--lightgreen);
    gap: 40px;
}

.left-engine1 {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-engine1 a {
    color: black;
    text-decoration: none;
}

.left-engine1 h1 {
    background-color: var(--lightgreen);
    display: inline-block;
    margin-bottom: 0;
    padding: 7px;
    border-radius: 14px;
    font-size: 36px;
}

.right-engine1 h1 {
    background-color: var(--lightcolor);
}

.left-engine2 {
    align-items: center;
}

.circle {
    height: 40px !important;
    width: 40px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}




/* Main list */



.mainlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 20px;

}

.listbox {
    height: 279px;
    width: 90%;
    background-color: var(--lightgreen);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.line-circle {
    background-color: var(--lightcolor);
    border-radius: 50%;
    padding: 20px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.listfirstbox {
    justify-content: space-between;
    padding: 41px 0px;
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
}

.listbox p {
    width: 90%;
    margin: 0 auto;

}

.left-seo-block {
    display: none;
    border: none;
}

.listbox-grey {
    height: 159px;
    width: 90%;
    background-color: var(--lightcolor);
    border-radius: 45px;
    display: flex;
    gap: 30px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    border-bottom: 10px solid black;
}

.grey-circle {
    background-color: var(--lightgreen);


}

.number {
    font-size: 4rem;
    margin-right: 10px;
}

.buttonbox {
    margin: 70px 0px;
}

/* Form box */



.formbox {
    margin: 0 auto;
    width: 90%;
    background-color: var(--lightcolor);
    height: 773px;
    border-radius: 45px;
    display: flex;
    justify-content: end;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
}

.form {
    width: 556px;

    height: 648px
}

.circle-block {
    display: none;
}

.form-img {
    width: 40%;
    overflow: hidden;

}

.form-img img {

    height: 100%;
    width: 649px;
    margin-left: 188px;


}

.radio {
    transform: scale(1.5);
    margin-right: 5px;
}

.radioBox {
    width: 97%;
}

.input {
    width: 100%;
    padding: 18px 30px 18px 30px;
    border-radius: 14px;
    border: 1px solid black;
    outline: none;

}

textarea {
    width: 100%;
    height: 190px;
    border-radius: 14px;
    padding: 18px 30px 18px 30px;
}

.formbtn {
    width: 99%;
    border-radius: 14px;
    height: 68px;
    padding: 20px 35px 20px 35px;
    margin-left: 7px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-left: 8px;
}


/* Footer */




footer {
    height: 515px;
    background-color: var(--darkcolor);
    margin: 0 auto;
    width: 90%;
    border-radius: 45px 45px 0px 0px;
    padding: 55px 60px 50px 60px;
}

.footbox {

    height: 281px;
}

.logo {
    align-items: center;
    display: flex;
    gap: 10px;
    color: #fff;
}

.footnav {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footnav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-bottom: 0px !important;
    flex-wrap: wrap;
}

.footnav a {
    color: #fff !important;

}

.foot-main {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
}

.foot-form {
    height: 185px;
    width: 332px;
    color: #fff;

    gap: 22px;
    display: flex;
    flex-direction: column;
}

.foot-form a {
    color: #fff;
    text-decoration: none;
}

.foot-form button {
    height: 26px;
    width: 126px;
    background-color: var(--lightgreen);

    border: none;
    padding: 0px 7px;
    border-radius: 7px;

    font-weight: bold;
}

.foot-form p {
    margin-bottom: 0px !important;
}

.foot-btn {
    height: 184px;
    width: 634px;
    padding: 58px 40px 58px 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #292A32;
    border-radius: 14px;
    flex-wrap: wrap;
}

.foot-btn a {

    text-decoration: none;
}

.bigbtn {
    height: 68px;
    width: 249px;
    border-radius: 14px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.subscribe {
    background-color: var(--lightgreen);
    color: black;
    padding: 20px 0px;
    text-align: center;
}

.email {
    color: #fff;
    border: 2px solid #fff;
}



.foot-end {
    height: 78px;
    border-top: 1px solid #fff;
    display: flex;
    align-items: end;
    margin-top: 30px;

}

.foot-end ul {
    display: flex;
    list-style: none;
    color: #fff;
    gap: 30px;
    margin: 0px !important;
    padding: 0px !important;
    flex-wrap: wrap;
}

.foot-end a {
    color: #fff;
    text-decoration: none;
}